<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		  
<beans>

	<bean id="persistenceManagerFactory" class="org.myjerry.evenstar.persistence.PersistenceManagerFactoryImpl">
	</bean>
	
	<!--
	<bean name="jdoTemplate" class="org.springframework.orm.jdo.JdoTemplate">
		<property name="persistenceManagerFactory" ref="persistenceManagerFactory" />
	</bean>
	-->
	
</beans>
